<!DOCTYPE html>
<html ng-app="MovieStore">

<head>
	<title>Votre vidéo-club en ligne</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="shortcut icon" href="movie.png"/>
	<meta charset="utf-8">
</head>

<body>
	<nav class="nav navbar navbar-inverse">
		<div class="container">
			<button type="button" data-toggle="modal" href="#basket" class="btn btn-default btn-warning btn-lg navbar-right basket">
  			<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Panier <span id="nbProducts"></span>
			</button>
		</div>
		<div class="modal" id="basket" ng-controller="basketController">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">x</button>
						<h4 class="modal-title">Votre panier</h4>
					</div>
					<div class="modal-body">
					<div class="list-group-item" ng-repeat="product in baskets">
						<h3><img ng-src="{{product.Poster}}" alt="poster">{{product.Title}}
							<span class="badge badge-pill">{{product.Type}}</span>
							<button class="btn pull-right" ng-click="removeProduct(product)">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</h3>
					</div>
						<button class="btn btn-warning" id="total">{{total}}</button>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<div class="jumbotron">
	<h1 class="text-center">Bienvenue sur votre vidéo club en ligne</h1>
	<h3 class="text-center">Tous les films et séries à 3€ seulement !</h3>
	</div>
	<div ng-controller="storeController">
		<div class="list-group">
			<div class="list-group-item col-lg-4" ng-repeat="product in products">
				<product-title></product-title>
				<section class="tab" ng-controller="panelController">
					<nav-tabs></nav-tabs>
					<product-synopsis></product-synopsis>
					<product-info></product-info>
				</section>
				<add-cart-btn></add-cart-btn>
			</div>
		</div>
	</div>


	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="directives/directives.js"></script>
</body>

</html>
