nav .btn-default {
	position: fixed;
	top:0.2%;
	right:10%;
	z-index: 100;
}
.list-group .list-group-item {min-height: 800px;}
ul.nav {margin:20px auto;}
.list-group-item img {width: 300px; height: 445px; margin-right: 10px;}
.modal .badge {margin-left: 10px;}
.add-basket span, .basket span {margin-right: 5px;}
.glyphicon {
	top:0!important;
	font-size: 15px;
}
#total {font-size: 20px;margin-top: 10px;}
p.info span {font-weight:bold;}
.modal-body img {width: 50px; height: 75px;}

@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
